<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Strike 2</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Counter Strike 2</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Inicio</a></li>
                <li><a href="../pages/weapons.html">Armas</a></li>
                <li><a href="../pages/maps.html">Mapas</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>